<?xml version="1.0"?>
<config>
    <modules>
        <Overcart_Redmi>
            <version>1.0.0</version>
        </Overcart_Redmi>
    </modules>
    <frontend>
        <routers>
            <redmi>
                <use>standard</use>
                <args>
                    <module>Overcart_Redmi</module>
                    <frontName>redmisale</frontName>
                </args>
            </redmi>
        </routers>
    </frontend>
    <admin>
        <routers>
			<redmi>
				<use>admin</use>
				<args>
					<module>Overcart_Redmi</module>
					<frontName>redmiadmin</frontName>
				</args>
			</redmi>
        </routers>
    </admin>
    <adminhtml>
		 <menu>
			<redmi module="redmi">
				<title>Manage Flash Sales</title>
				<sort_order>50</sort_order>
				<children>
					<items module="redmi">
						<title>Manage your sales</title>
						<sort_order>0</sort_order>
						<action>redmiadmin/adminhtml_sale</action>
					</items>
                    <sale module="redmi">
                        <title>Manage Customer Registration</title>
                        <sort_order>1</sort_order>
                        <action>redmiadmin/adminhtml_redmi</action>
                    </sale>
				</children>
			</redmi>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					<redmi>
                        <title>Flash Sales Module</title>
                        <sort_order>10</sort_order>
                        <children>
                            <sale>
                                <title>Manage Sales</title>
                            </sale>
                            <redmi>
                                <title>Manage Customer Registration</title>
                            </redmi>
                        </children>
                     </redmi>
					</children>					
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <redmi>
                <class>Overcart_Redmi_Model</class>
                <resourceModel>redmi_resource</resourceModel>
            </redmi>
            <redmi_resource>
                <class>Overcart_Redmi_Model_Resource</class>
                <entities>
                    <redmi>
                        <table>redmi</table>
                    </redmi>
                    <sale>
                        <table>flash_sales</table>
                    </sale>
                </entities>
            </redmi_resource>
        </models>
        <resources>
            <redmi_setup_old>
                <setup>
                    <module>Overcart_Redmi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redmi_setup_old>
            <redmi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redmi_write>
            <redmi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redmi_read>
        </resources>
        <blocks>
            <redmi>
                <class>Overcart_Redmi_Block</class>
            </redmi>
        </blocks>
        <helpers>
            <redmi>
                <class>Overcart_Redmi_Helper</class>
            </redmi>
        </helpers>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <observer_redmi>
                        <type>singleton</type>
                        <class>Overcart_Redmi_Model_Observer</class>
                        <method>cartAddFilter</method>
                    </observer_redmi>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_order_place_after>
                <observers>
                    <observer_redmi_order>
                        <type>singleton</type>
                        <class>Overcart_Redmi_Model_Observer</class>
                        <method>updateOrderOnSuccess</method>
                    </observer_redmi_order>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <redmi>
            <contacts>
                <enabled>1</enabled>
            </contacts>
            <email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>contacts_email_email_template</email_template>
            </email>
        </redmi>
    </default>
</config>